@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply bg-bg-white text-text-main dark:bg-bg-dark dark:text-text-main-dark transition-colors duration-300 min-h-screen;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-border-thin dark:bg-border-dark rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-text-secondary/20 dark:bg-text-secondary-dark/20;
}

/* Hide spin buttons for number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}
